*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.bounce-top {
  display: block;
  animation: bounce-top 2s ease-in-out infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translate(-50%, -45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translate(-50%, -24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translate(-50%, -12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translate(-50%, -6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translate(-50%, -4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translate(-50%, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-50%, 0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  height: 100vh;
}

/* NAVBAR */
nav {
  transition: 0.6s;
}
nav .navbar-brand {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem;
}
nav .navbar-toggler {
  border: none;
  padding: 2rem;
  height: 70px;
}
nav .navbar-toggler .line1, nav .navbar-toggler .line2, nav .navbar-toggler .line3 {
  width: 30px;
  height: 0.4rem;
  margin: 0.6rem auto;
  background-color: #fff;
  border-radius: 5rem;
  transition: transform 0.25s ease;
}
nav .navbar-toggler .line1:first-child, nav .navbar-toggler .line2:first-child, nav .navbar-toggler .line3:first-child {
  margin-top: 0;
}
nav .navbar-toggler .line1:last-child, nav .navbar-toggler .line2:last-child, nav .navbar-toggler .line3:last-child {
  margin-bottom: 0;
}
nav .navbar-toggler .line1.black-font-color, nav .navbar-toggler .line2.black-font-color, nav .navbar-toggler .line3.black-font-color {
  color: #000;
}
nav .navbar-toggler:hover > .line1 {
  transform: translateY(-5px);
}
nav .navbar-toggler:hover > .line3 {
  transform: translateY(5px);
}
nav .navbar-nav .nav-link {
  color: #fff;
}
nav .navbar-nav .nav-link.black-font-color {
  color: #000;
}
nav .navbar-nav .nav-link.active {
  color: #0d6efd;
}

/* Sekcja "Hero" */
.hero {
  position: relative;
  height: 100vh;
}
.hero .hero-text {
  z-index: 1;
}
.hero .hero-text h1 {
  font-size: 5rem;
}
.hero .hero-text p {
  font-size: 3rem;
}
.hero .hero-text a {
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
}
.hero .hero-text a::before, .hero .hero-text a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 249, 250, 0.3);
  z-index: -1;
  transition: left 300ms ease-in-out, right 300ms ease-in-out;
}
.hero .hero-text a::before {
  top: -50%;
  left: -100%;
}
.hero .hero-text a::after {
  bottom: -50%;
  right: -100%;
}
.hero .hero-text a:hover {
  background: none;
  color: #0d6efd;
}
.hero .hero-text a:hover::before {
  left: 0;
}
.hero .hero-text a:hover::after {
  right: 0;
}
.hero .hero-text a .fa-arrow-down {
  color: #0d6efd;
  font-size: 2.4rem;
}
.hero.hero-background {
  background: url("../assets/images/Hero_mq.jpg") 30% 65%/cover;
  background-attachment: fixed;
}
.hero .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .fa-chevron-down {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  /* Navbar */
  .nav-link {
    position: relative;
    padding: 0;
  }
  .nav-link.active {
    font-weight: 700;
  }
  .nav-link:not(.active)::before, .nav-link:not(.active)::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -4px;
    border-bottom: 3px solid #0d6efd;
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }
  .nav-link:not(.active)::before {
    left: 50%;
  }
  .nav-link:not(.active)::after {
    right: 50%;
  }
  .nav-link:not(.active):hover::before, .nav-link:not(.active):hover::after {
    width: 50%;
  }
  .nav-link:not(.active):hover::before {
    left: 0;
  }
  .nav-link:not(.active):hover::after {
    right: 0;
  }
  /* Hero */
  .hero-background {
    background-image: url("../assets/images/Hero_hq.jpg");
  }
}/*# sourceMappingURL=style.css.map */