@use "reset";
@use "colors" as colors;
@use "animations" as animations;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  height: 100vh;
}

/* NAVBAR */

nav {
  transition: .6s;

  .navbar-brand {
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
  }

  .navbar-toggler {
    border: none;
    padding: 2rem;
    height: 70px;

    .line1, .line2, .line3 {
      width: 30px;
      height: .4rem;
      margin: .6rem auto;
      background-color: colors.$white;
      border-radius: 5rem;
      transition: transform .25s ease;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.black-font-color {
        background-color: colors.$black;
      }
    }

    &:hover > .line1 {
      transform: translateY(-5px);
    }

    &:hover > .line3 {
      transform: translateY(5px);
    }
  }

  .navbar-nav .nav-link {
    color: colors.$white;

    &.black-font-color {
      color: colors.$black;
    }
  }
  
  .navbar-nav .nav-link.active {
    color: colors.$primary-color;
  }
}

/* Sekcja "Hero" */

.hero {
  position: relative;
  height: 100vh;

  .hero-text {
    z-index: 1;

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 3rem;
    }

    a {
      font-size: 1.6rem;

      &:hover {
        background-color: colors.$light-hover;
        color: colors.$light;
      }
      .fa-arrow-down {
        color: colors.$primary-color;
        font-size: 2.4rem;
      }
    }
  }

  &.hero-background {
    background: url("../assets/images/Hero_mq.jpg") 30% 65% / cover;
    background-attachment: fixed;
  }

  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$hero-shadow;
  }
  
  .fa-chevron-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    padding: 2rem;
  }
}

@media screen and (min-width: 992px) {
/* Navbar */
  .nav-link {
    position: relative;  
    padding: 0;
    
    &:not(.active) {
      &::before, &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        transition: width .3s ease-in-out, height .3s ease-in-out, border-color .3s ease-in-out;
      }

      &::before {
        top: -4px;
        left: -4px;
        border-left: 0;
        border-top: 0;
      }

      &::after {
        bottom: -4px;
        right: -4px;
        border-right: 0;
        border-bottom: 0;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: -4px;
      //   width: 100%;
      //   height: 3px;
      //   background-color: colors.$primary-color;
      //   transform: scaleX(0);
      //   transform-origin: right;
      //   transition: transform .3s ease-in-out;
      // }
    }
    &:not(.active):hover {
      &::before, &::after {
        width: 50%;
        height: 50%;
      }

      &::before {
        border-left: 2px solid colors.$primary-color;
        border-top: 2px solid colors.$primary-color;
      }
  
      &::after {
        border-right: 2px solid colors.$primary-color;
        border-bottom: 2px solid colors.$primary-color;
      }
    }
  }
/* Hero */
  .hero-background {
    background-image: url("../assets/images/Hero_hq.jpg");
  }
}
