@use "reset";
@use "colors" as colors;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 2rem;
  height: 100vh;
}

/* NAVBAR */

nav {
  .navbar-brand {
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
  }

  .navbar-toggler {
    border: none;
    padding: 2rem;
    height: 70px;

    .line1, .line2, .line3 {
      width: 30px;
      height: .4rem;
      margin: .6rem auto;
      background-color: colors.$black;
      border-radius: 5rem;
      transition: transform .25s ease;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover > .line1 {
      transform: translateY(-5px);
    }

    &:hover > .line3 {
      transform: translateY(5px);
    }
  }
  
  .navbar-nav .nav-link.active {
    color: colors.$blue;
  }
}

/* Sekcja "Hero" */

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$hero-shadow;
}

@media screen and (min-width: 992px) {
  .nav-link {
    position: relative;  
    padding: 0;
    
    &:not(.active) {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: colors.$blue;
        transition: width .3s, left .3s;
      }
    
      &:hover {
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
